# This file is a placeholder for environment variables required to run this project.
# Currently, there are no environment variables needed.

# Example of what future variables might look like:
# NEXT_PUBLIC_API_KEY=your_api_key_here
# DATABASE_URL=your_database_url_here
# SECRET_KEY=your_secret_key_here

# Password for protected pages/routes
PAGE_ACCESS_PASSWORD=password

# Site URL
NEXT_PUBLIC_SITE_URL=http://localhost:3000

# Strapi API URL
STRAPI_API_URL=http://localhost:1337
INTERNATIONALIZATION_DOMAIN=localhost
INTERNATIONALIZATION_DEFAULT_LOCALE=es-GT
INTERNATIONALIZATION_ALLOW_HTTP=true

# Public Strapi API URL
NEXT_PUBLIC_STRAPI_API_URL=http://localhost:1337

# Algolia Search Configuration
ALGOLIA_SEARCH_KEY=your_algolia_search_key_here
ALGOLIA_APP_ID=your_algolia_app_id_here
